.row.full-width
  .small-12.columns
    h3 Connected Hosts: {{connectedHosts.length}}
    .panel(ng-repeat="host in connectedHosts")
      .panel-heading
        p id: {{host.instanceId}}
      .panel-body
        ul.no-bullet
          li(ng-repeat="(image, container) in host.containers")
            .panel
              .row.clickyFinger(ng-click="this.showContainer = !this.showContainer")
                .large-6.columns
                  h4 Image: {{image}}
                .large-6.columns
                  h4 {{container.length}} containers
              .row(ng-repeat="c in container")
                .large-12.columns
                  hr(ng-show="$first")
                  .row
                    .large-6.columns
                      h5 Manager State: {{c.ManagerData.ManagedState}}
                    .large-6.columns
                      h5 Name: {{c.ManagerData.Name}}
                  .row
                    .large-12.columns
                       h5(ng-repeat="(p, q) in c.container.Ports")
                        pre Ports: {{p}}
                        pre(ng-repeat="d in q")   --> {{d.HostIp}}:{{d.HostPort}}
                  hr(ng-hide="$last")


