doctype html
html(ng-app="Holdfast")
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css')
    link(rel='stylesheet', href='/css/main.css')
    base(href=baseURL)
  body
    ui-view
    include scripts